<div class="container">
  <br>
  <h4>{{a | percent:'2.1'}}</h4>
  <h4>{{b | currency: 'IR'}}</h4>
  <h4>{{name1 | shorter: 13}}</h4>
  <h4>{{d | date: 'shortTime'}}</h4>
  <h4>{{dateNow | date:'yyyy/MM/dd - hh:mm'}}</h4>
</div>
<hr>

<div class="container">
  <h4>UserName : {{username | async}}</h4>

  <br>
  <input type="text" [(ngModel)]="filterString"> |
  <button (click)="addCoffee()" class="btn btn-debug">add coffee</button>
  <br>
  <h4 *ngFor="let item of grocery | filter:filterString:'condition'">
    {{item.name}}
    <small class="badge badge-warning">{{item.condition}}</small>
  </h4>
</div>
