<br>
<div class="container">
    <legend>Post</legend>
    userID:  <input type="text" #postUserId>
    Title:  <input type="text" #postTitle>
    Body:  <input type="text" #postBody> | 
  <button class="btn btn-success" (click)="PostElement()">add post</button>
  <hr>
    <legend>put</legend>
    id: <input type="text" #PutID> | 
  <button class="btn btn-success" (click)="PutElement()">add post</button>
  <hr>
  <legend>getAll</legend>
  <li *ngFor="let items of array">{{items.title}}
    <hr> </li>
</div>
