<br>
<div class="container">
    <legend>Post</legend>
    name:  <input type="text" #postname>
    description:  <input type="text" #postdescription> | 
  <button class="btn btn-success" (click)="PostElement()">add post</button>
  <hr>
    <legend>put</legend>
    id: <input type="text" #PutID> | 
  <button class="btn btn-success" (click)="PutElement()">put value</button>
  <button class="btn btn-success" (click)="Deletelement()">delete value</button>
  <hr>
  <legend>getAll</legend>
  <ul *ngFor="let items of array">{{items.id}} ) {{items.name}}<br>{{items.description}}
    <hr> </ul>

</div>
