<div class="container">
  <br>
  <!-- یک لوکال رفرنس مینویسیم و نوعش را ان جی فرم میگذاریم و داخل کنترلر دریافت میکنیم -->
  <form (ngSubmit)="onSubmit()" #in="ngForm">
    <h3 *ngIf="clickSubmit" style="color: rgb(141, 11, 87)">Wellcome {{WellcomeMessage}}</h3>
    <legend>User SignUp</legend>
    
    <div ngModelGroup="UserGroup" #Group1="ngModelGroup">
      <div class="form-group">
        <label for="username">Username :</label>
        <input ngModel type="text" required class="form-control" name="username" id="username" placeholder="username">
      </div>
      <div class="form-group">
        <label for="email">Email :</label>
        <input #ValidEmail="ngModel" required email ngModel type="email" class="form-control" name="email" id="email" placeholder="email">
        <small style="color: rgb(116, 33, 33)" *ngIf="!ValidEmail.valid && ValidEmail.touched">please enter a valid Email</small>
      </div>
    </div>
    <div class="form-group">
      <label for="selection1">Gender :</label>
      <select required [ngModel]="DefualtGender" class="custom-select" name="gender" id="selection1">
        <option value="">choose</option>
        <option selected value="0">male</option>
        <option value="1">female</option>
      </select>
    </div>
    <div class="form-check" *ngFor="let animal of animals; let i = index">
      <label class="form-check-label">
        <input type="radio" required ngModel class="form-check-input" name="animals" [value]="i" checked> {{animal}}
      </label>
    </div>
    <br>
    <button [disabled]="!in.valid" type="submit" class="btn btn-info">Submit</button> | 
    <button [disabled]="!in.valid" type="reset" class="btn btn-warning">reset</button> | 
    <button type="button" (click)="setDefualtValue()" class="btn btn-warning">set defualt value</button>
  </form>
</div>
