<div class="container-fluid">
  <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="nav navbar-nav row">
        <a routerLink='/about' class="nav-item nav-link active" href="#">about
          <span class="sr-only">(current)</span>
        </a>
        <a routerLink='/home' class="nav-item nav-link active" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
        <a routerLink='/star' class="nav-item nav-link active" href="#">star
          <span class="sr-only">(current)</span>
        </a>
        <a routerLink='/one' class="nav-item nav-link active" href="#">secvices
          <span class="sr-only">(current)</span>
        </a>
        <a routerLink='/adminPanel' class="nav-item nav-link active" href="#">Admin Panel
          <span class="sr-only">(current)</span>
        </a>
        <button class="nav-item nav-link active btn btn-default" (click)="LogInSite()">logIn
          <span class="sr-only">(current)</span>
        </button>
        <a class="nav-item nav-link active" >     
          <span class="sr-only">(current)</span>
        </a>
        <button class="nav-item nav-link active btn btn-default" (click)="LogOutSite()">logOut
            <span class="sr-only">(current)</span>
          </button>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
